#loadError {
  display: none;
  font-size: 150%;
  font-weight: bold;
  color: red;
}

.youtube {
  color: red;
}

.spotify {
  color: green;
}

.songlink {
  color: blue;
}

#unrecog {
  float: right;
  width: 50%;
  border: 2px solid black;
  padding: 2px;
  display: none;
}
#user-stats-wrapper {
  float: right;
  width: 25%;
  border: 2px solid blue;
  padding: 2px;
}

#user-stats td {
  padding: 2px;
}
